#text_formatting {
  text-align: center;
  background-color: lightgrey;
  color: blue;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-transform: uppercase;
  font-family: "Bitcount Prop Double Ink", system-ui;
}
p {
  text-indent: 15px;
  line-height: 1.6;
  font-family: 'Times New Roman', Times, serif;
}
*{
  box-sizing: border-box;
}
/* default content-box */
/* width = content+border +padding */
.box {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 10px;
  background-color: aqua;
  border: 1px solid black;
}