.box {
  width: 50px;
  height: 50px;
  background-color: aqua;
  transition-duration: 1s;
  transition-property: border-radius;
  /* transition-delay: 1s; */
  transition-timing-function: ease-in;
}

.box:hover {
  background-color: red;
  border-radius: 50%;
}
@keyframes  myAnimation{
  /* 0% */
  from {
    background-color: red;
  }
  /* 100% */
  to{
    background-color: green;
  }
}

.box2{
  width: 50px;
  height: 50px;
  background-color:red;
  animation-name: myAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}